__pycache__/
.idea/

# Dataset files.
datasets/7scenes_*
datasets/12scenes_*
datasets/Cambridge_*
datasets/wayspots_*
datasets/pgt_*
datasets/visloc_pseudo_gt_limitations

# Outputs.
output/

# Downloads
downloads/
datasets/office
datasets/stairs
datasets/applewatch
datasets/office2
datasets/office3
datasets/office3_rpi
model_output_tflite
result.md
test_3d_transform.ipynb
test

# Others
dsacstar