__pycache__/
.idea/

# Dataset files.
datasets/7scenes_*
datasets/12scenes_*
datasets/Cambridge_*
datasets/wayspots_*
datasets/pgt_*
datasets/visloc_pseudo_gt_limitations

# Outputs.
output/

# Downloads
downloads/
datasets/office
datasets/stairs
datasets/applewatch
datasets/office2
test

# Others
dsacstar
model_output_tflite